li {
  border: 1px solid #808080;
  border-radius: 12px;
  list-style: none;
  padding: 20px;

}

input {
  margin-right: 4vw;
}

.strikethrough {
  text-decoration: line-through;
}
svg{
  float: right;
}
